{% extends 'base.html.twig' %}


{#{% block stylesheets %}#}
{#{% endblock %}#}

{% block body %}

    {#{% block stylesheets %}#}
    <style>
        /*tr.d0 td {*/
        /*    background-color: #87c9a0;*/
        /*    color: black;*/
        /*}*/
        /*tr.d1 td {*/
        /*    background-color: #9de875;*/
        /*    color: black;*/
        /*}*/
        /******************************************/
        /*.d0 {*/
        /*    background-color: #d6eaf8;*/
        /*    color: black;*/
        /*}*/
        /*.d1 {*/
        /*    background-color: #f6f9fa;!* #aed6f1*!*/
        /*    color: black;*/
        /*}*/
    </style>
    {#{% endblock %}#}



    <article>
        <h2>{{ article.titre }}</h2><br>
        <span class="bc">younes</span>
        <div class="metadata">ecrit le {{ article.createdAt |date('d/m/y') }} à {{ article.createdAt |date('H:i') }} dans la catégorie
            {{ article.category.title }}</div>
        <div class="content">
            <img {#class="panoramic"#} src="{{ article.image }}" alt="">
            <p>
                {{ article.content |raw}}
            </p>
        </div>
    </article>

    <span class="badge badge-info">
     {{ article.comments |length }} : Commentaires
    </span>
    {% for comment in article.comments %}
{#        {% if(loop.index is odd) %}#}
{#            {% set dd='d0' %}#}
{#        {% else %}#}
{#            {% set dd='d1' %}#}
{#        {% endif %}#}

        <section class="commentaires  {{ (loop.index is odd ? 'd0' : 'd1') }}">
        <div class="comment">
            <div class="row">
                <div class="col-3 nopadding text-center">
                   <b> {{ comment.author }} </b> le : <small> {{ comment.createdAt|date('d/m/y') }} a {{ comment.createdAt|date('h:i:s')  }}</small>
                </div>
                <div class="col nopadding">
                    {{ comment.content|raw }}
                </div>
            </div>

        </div>
    </section>
{% endfor %}


    {% set titre="<hr class='btn btn-info'  style='border: 2px solid #d6eaf8;border-radius: 5px;width:1086px'>"%}
    {{ titre|raw }}


    {% if app.user %}
    <section class="display" style="margin-top: 30px;">
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.author,{'attr': { 'placeholder':'votre Nome' }})  }}
    {{ form_row(commentForm.content,{'attr': { 'placeholder':'votre Commentaire' }})  }}
    <button type="submit" class="btn btn-success">Enregistrer Votre Commentaire</button>
    {{ form_end(commentForm) }}
    </section>
    {% else %}

        <span class="badge badge-info">
            <h3>Veuiller connecter pour commenter cet article !!
                <a href="{{ path('security_login') }}" class="badge badge-warning">Connecter</a>
            </h3>
        </span>

    {% endif %}


{% endblock %}

{#<hr>#}
{#<hr>#}
{#<hr>#}

{#<p>#}
{#<table>#}
{#    <tr class="d0">#}
{#        <td>One</td>#}
{#        <td>one</td>#}
{#    </tr>#}
{#    <tr class="d1">#}
{#        <td>Two</td>#}
{#        <td>two</td>#}
{#    </tr>#}
{#    <tr class="d0">#}
{#        <td>three</td>#}
{#        <td>three</td>#}
{#    </tr>#}
{#    <tr class="d1">#}
{#        <td>for</td>#}
{#        <td>for</td>#}
{#    </tr>#}
{#    <tr class="d0">#}
{#        <td>five</td>#}
{#        <td>five</td>#}
{#    </tr>#}
{#</table>#}
{#</p>#}
{#<hr>#}